In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#creating a dataframe
df=pd.DataFrame(np.random.rand(10,4),columns=['A','B','C','D'])
print (df)

          A         B         C         D
0  0.172436  0.545567  0.135787  0.699903
1  0.903085  0.084834  0.434398  0.574226
2  0.747484  0.441800  0.524028  0.512533
3  0.740222  0.370440  0.590918  0.333318
4  0.149652  0.576975  0.973204  0.344858
5  0.381970  0.076347  0.729016  0.892156
6  0.078150  0.293688  0.212771  0.530447
7  0.342108  0.657256  0.623736  0.366659
8  0.956429  0.267222  0.246846  0.451634
9  0.969242  0.087329  0.379173  0.401570

In [3]:
#creating a dataframe with dictionary
df2 = pd.DataFrame({'A' : [10,20],'B' : [20,100],'C' : [30,40],'D' : [40,50]})
print (df2)

    A    B   C   D
0  10   20  30  40
1  20  100  40  50

In [4]:
#looking at the variable types
df2.dtypes

A    int64
B    int64
C    int64
D    int64
dtype: object

In [5]:
#looking at the top few values, default 5
df.head()

          A         B         C         D
0  0.172436  0.545567  0.135787  0.699903
1  0.903085  0.084834  0.434398  0.574226
2  0.747484  0.441800  0.524028  0.512533
3  0.740222  0.370440  0.590918  0.333318
4  0.149652  0.576975  0.973204  0.344858

In [6]:
#looking at the last few values
df.tail()

          A         B         C         D
5  0.381970  0.076347  0.729016  0.892156
6  0.078150  0.293688  0.212771  0.530447
7  0.342108  0.657256  0.623736  0.366659
8  0.956429  0.267222  0.246846  0.451634
9  0.969242  0.087329  0.379173  0.401570

In [7]:
#to get the indexes
df.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
#to get the column names
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
#to get the values
df.values

array([[0.17243568, 0.54556716, 0.13578671, 0.69990349],
       [0.90308481, 0.08483391, 0.4343976 , 0.57422591],
       [0.74748406, 0.44179998, 0.52402787, 0.51253274],
       [0.74022232, 0.37044028, 0.5909184 , 0.33331791],
       [0.14965209, 0.57697522, 0.97320417, 0.34485794],
       [0.38197048, 0.07634695, 0.72901645, 0.89215554],
       [0.07815019, 0.29368796, 0.21277103, 0.53044704],
       [0.34210799, 0.65725563, 0.6237362 , 0.36665897],
       [0.9564294 , 0.2672221 , 0.24684649, 0.45163361],
       [0.96924249, 0.08732899, 0.37917295, 0.4015697 ]])

In [10]:
#to get quick statistics about the data
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.544078   0.340146   0.484988   0.510730
std     0.355493   0.215061   0.257426   0.176651
min     0.078150   0.076347   0.135787   0.333318
25%     0.214854   0.132302   0.279928   0.375387
50%     0.561096   0.332064   0.479213   0.482083
75%     0.864185   0.519625   0.615532   0.563281
max     0.969242   0.657256   0.973204   0.892156

In [11]:
# for sorting the index
df.sort_index(axis=0, ascending=False)

          A         B         C         D
9  0.969242  0.087329  0.379173  0.401570
8  0.956429  0.267222  0.246846  0.451634
7  0.342108  0.657256  0.623736  0.366659
6  0.078150  0.293688  0.212771  0.530447
5  0.381970  0.076347  0.729016  0.892156
4  0.149652  0.576975  0.973204  0.344858
3  0.740222  0.370440  0.590918  0.333318
2  0.747484  0.441800  0.524028  0.512533
1  0.903085  0.084834  0.434398  0.574226
0  0.172436  0.545567  0.135787  0.699903

In [12]:
#for sorting by a column
df.sort_values(by='A')

          A         B         C         D
6  0.078150  0.293688  0.212771  0.530447
4  0.149652  0.576975  0.973204  0.344858
0  0.172436  0.545567  0.135787  0.699903
7  0.342108  0.657256  0.623736  0.366659
5  0.381970  0.076347  0.729016  0.892156
3  0.740222  0.370440  0.590918  0.333318
2  0.747484  0.441800  0.524028  0.512533
1  0.903085  0.084834  0.434398  0.574226
8  0.956429  0.267222  0.246846  0.451634
9  0.969242  0.087329  0.379173  0.401570

# Selecting Values

In [13]:
# selecting columns
df['A']

0    0.172436
1    0.903085
2    0.747484
3    0.740222
4    0.149652
5    0.381970
6    0.078150
7    0.342108
8    0.956429
9    0.969242
Name: A, dtype: float64

In [14]:
#selecting range of rows
df[0:2]

          A         B         C         D
0  0.172436  0.545567  0.135787  0.699903
1  0.903085  0.084834  0.434398  0.574226

In [15]:
#selecting a particular row
df.loc[0]

A    0.172436
B    0.545567
C    0.135787
D    0.699903
Name: 0, dtype: float64

In [16]:
#selecting a row and column
df.loc[0,['A']]

A    0.172436
Name: 0, dtype: float64

In [17]:
df.loc[:,['A']]

          A
0  0.172436
1  0.903085
2  0.747484
3  0.740222
4  0.149652
5  0.381970
6  0.078150
7  0.342108
8  0.956429
9  0.969242

In [18]:
#using at instead for faster access , can't be used for a range
df.at[0,'A']

0.17243568025177725

In [19]:
#selecting by posion 
df.iloc[0]

A    0.172436
B    0.545567
C    0.135787
D    0.699903
Name: 0, dtype: float64

In [20]:
#selecting by condition 
df[df.A>0]

          A         B         C         D
0  0.172436  0.545567  0.135787  0.699903
1  0.903085  0.084834  0.434398  0.574226
2  0.747484  0.441800  0.524028  0.512533
3  0.740222  0.370440  0.590918  0.333318
4  0.149652  0.576975  0.973204  0.344858
5  0.381970  0.076347  0.729016  0.892156
6  0.078150  0.293688  0.212771  0.530447
7  0.342108  0.657256  0.623736  0.366659
8  0.956429  0.267222  0.246846  0.451634
9  0.969242  0.087329  0.379173  0.401570

# Missing Data

In [22]:
df2=df[df<.5]
print (df2)

          A         B         C         D
0  0.172436       NaN  0.135787       NaN
1       NaN  0.084834  0.434398       NaN
2       NaN  0.441800       NaN       NaN
3       NaN  0.370440       NaN  0.333318
4  0.149652       NaN       NaN  0.344858
5  0.381970  0.076347       NaN       NaN
6  0.078150  0.293688  0.212771       NaN
7  0.342108       NaN       NaN  0.366659
8       NaN  0.267222  0.246846  0.451634
9       NaN  0.087329  0.379173  0.401570

In [23]:
#drop all rows which have NaN
df2.dropna()

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [24]:
#replace NaN with other values
df2.fillna(value=1)

          A         B         C         D
0  0.172436  1.000000  0.135787  1.000000
1  1.000000  0.084834  0.434398  1.000000
2  1.000000  0.441800  1.000000  1.000000
3  1.000000  0.370440  1.000000  0.333318
4  0.149652  1.000000  1.000000  0.344858
5  0.381970  0.076347  1.000000  1.000000
6  0.078150  0.293688  0.212771  1.000000
7  0.342108  1.000000  1.000000  0.366659
8  1.000000  0.267222  0.246846  0.451634
9  1.000000  0.087329  0.379173  0.401570

# Statistical Operations

In [25]:
# taking mean
df.mean()

A    0.544078
B    0.340146
C    0.484988
D    0.510730
dtype: float64

In [26]:
# mean in other axis
df.mean(1)

0    0.388423
1    0.499136
2    0.556461
3    0.508725
4    0.511172
5    0.519872
6    0.278764
7    0.497440
8    0.480533
9    0.459329
dtype: float64

In [27]:
# read_csv and to_csv functions are used to read csv data and write to csv data respectively.